@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<br />

<p>Tshop exists to help artists succeed to promote their tshirts. For over 5 years, we’ve partnered with hundreds
    of thousands of artists, promoting their independent art to millions of fans around the world.
    We are a diverse,global community of artists and creatives and those who support them.</p>
<br />
<p>At Tshop, we celebrate the unique diversity that shapes each of us as human beings. We also support
    creative expression that drives cultural change and love art that sparks a conversation. Tshop is
    a safe space for all identities and buyers to find cool tshirts
    that sell. Even now, with the launch of Tshop Causes, you can make
    a positive impact on the world by purchasing designs directly supporting critically important
    initiatives.</p>
<br />
<p>Let’s make great together :)</p>
<br>



<div class="row">
    <div class="col-12 text-center">
        <a class="btn btn-success text-light" asp-area="" asp-controller="Home" asp-action="Index">Get back to Shopping</a>
    </div>
</div>